.map {
    font-family:"Courier New", Courier, monospace;
    background-color: black;
    color: grey;
    float:left;
    border: 3px solid;
    border-color:grey;
}
.player {
    font-family:"Courier New", Courier, monospace;
    color: green;
}
.enemy {
    font-family:"Courier New", Courier, monospace;
    color: red;
}